Debug/
debug/
Release/
release/
*.ipch

*.suo
*.vcxproj
*.db-shm
*.opendb
*.db-wal
*.vcxproj
*.db
*.json
*.vcxproj
CPP/SDL2/szablon2vs19.vcxproj
CPP/SDL2/.vs/szablon2vs19/v16/.suo
CPP/SDL2/.vs/szablon2vs19/v16/Browse.VC.db
